<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Difference between html and Djforms
    </title>
    <link href="html5.png", rel="icon" type="image/ico"/>
</head>
<body style="background-repeat:no-repeat" bgcolor="lightgreen">
<h1 style="color:blue;font-family:verdana;text-align:center">
    This is to study difference Between DJforms and html forms
</h1>
<form action="https://en.wikipedia.org/wiki/Flower" name="myform" method="post">
    <fieldset style="border : 2px double red; border-radius:3px">

        <legend align="centre" style="color:green">User Login form .....!!</legend>
        <label style = 'color:blue; font-weight:bold'> User Name : <b style='color:red'>*</b></label> <br/>
        <input type='text' name="user" required="required" placeholder="Enter User Name"><br/>
        <label style='color:blue;font-weight:bold'>Password:<b style='color:red'>*</b></label> <br/>
        <input type="password" name="pass" required="required" placeholder="Enter Password"><br/>
        <input type="Submit" value="Sign-In">
        <input type="reset" value="Cancel">
    </fieldset>
</form>
</body>
</html>