h2{
text-align:center;
}
body{
background-image:url(https://image.shutterstock.com/image-photo/buddha-statue-hyderabadhyderabadindia-260nw-1366155431.jpg);
background-repeat:no-repeat;
background-size:cover;
color:red;
}
table{
color:#ff8000;
}